{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>News</title>
</head>
<body>
<h2>{{ news_item.title }}</h2>
<p>{{ news_item.url }}</p>
<p>{{ news_item.created_at }}</p>
<p>{{ news_item.type }}</p>

{% for child in children %}
    <h3>{{ child.title }}</h3>
    <p>{{ child.url }}</p>
    <p>{{ child.created_at }}</p>
    <p>{{ child.type }}</p>
{% endfor %}
</body>
</html>